@import "partials/variables",
        "partials/typography",
        "partials/flexbox",
        "partials/breakpoints",
        "partials/keyframes";

body {
  overflow: auto;  // Bug fix to prevent horizontal scrollbar in IE
  background-color: $primary;
}

//=======================================================
// HEADER
//=======================================================

#header {
  box-sizing: border-box;
  height    : 100px;
  width     : 100%;

  border-top      : 1px solid transparent;
  border-bottom   : 1px solid transparent;
  background-color: $light;

  &-inner {
    position  : relative;
    @include set-content-width;
    width     : 100%;
    height    : 100%;
  }
  &-heading {
    display    : block;
    position   : absolute;
    width      : 100%;
    height     : 100%;
    margin     : 0;
    color      : $dark;
    line-height: 100px;
    text-align : center;
  }
}

.main {

  &-inner {
    @include set-content-width;
    background-color: lighten($primary, 5%);

    border: 1px solid transparent;
    border-radius: 10px;

    margin: 35px auto;
    height: 500px;
  }

  &-heading {
    color: $light;
  }
}
