@import "partials/variables",
        "partials/typography",
        "partials/flexbox",
        "partials/breakpoints",
        "partials/keyframes";

body {
  overflow: auto;  // Bug fix to prevent horizontal scrollbar in IE
  background-color: $primary;
}

#page {
  overflow-x: hidden;
}

//=======================================================
// MAIN
//=======================================================

.main {
  &--inner {
    @include set-content-width;
  }

  &--content {
    box-sizing      : border-box;
    margin          : 35px auto;
    padding         : 15px;
    height          : max-content;
    width           : 100%;
    background-color: lighten($primary, 5%);
    border          : 1px solid lighten($primary, 5%);
    border-radius   : 10px;
  }
}

//=======================================================
// HEADER
//=======================================================

#header {
  box-sizing: border-box;
  height    : 100px;
  width     : 100%;

  border-top      : 1px solid transparent;
  border-bottom   : 1px solid transparent;
  background-color: $light;

  &-inner {
    width      : 100%;
    height     : 100%;
  }
  &-heading {
    display    : block;
    width      : max-content;
    height     : 100%;
    margin     : 0 auto;
    color      : $dark;
    line-height: 100px;
    text-align : center;
  }
}

//=======================================================
// IMAGE DISPLAY
//=======================================================

.choose-image-container {
  @include flexbox;
  @include flex-flow(column nowrap);
  margin-bottom: 15px;
  width        : 100%;

  @media (min-width: map-get($breakpoints, 'm')) {
    @include flex-flow(row nowrap);
  }
}

.image {
  max-width    : 100%;
  max-height   : 100%;
  object-fit   : contain;
  box-sizing   : content-box;
  border       : 1px solid transparent;
  border-radius: 5px;

  &--wrapper {
    @include flex($f-grow: 0, $f-shrink: 1, $f-basis: 100%);
    height    : 300px;
  }
  &--details {
    box-sizing: border-box;
    padding   : 15px 0;
    @include flex($f-grow: 0, $f-shrink: 0, $f-basis: 100%);
  }

  @media (min-width: map-get($breakpoints, 'm')) {
    &--wrapper {
      @include flex($f-grow: 0, $f-shrink: 0, $f-basis: 70%);
      height       : 400px;
      width        : 70%;
      padding-right: 15px;
    }
    &--details {
      @include flex($f-grow: 0, $f-shrink: 0, $f-basis: 30%);
      padding    : 0 15px;
      border-left: 2px solid $primary;
      height     : 400px;
    }
  }

  @media (min-width: map-get($breakpoints, 'l')) {
    &--wrapper {
      height: 500px;
    }
    &--details {
      height: 500px;
    }
  }

  &--description {
    color      : $dark;
    font-weight: 600;
  }
}

//=======================================================
// BUTTON
//=======================================================

@mixin button-style($type) {
  padding       : 10px;

  color         : $light;
  font-weight   : 600;
  text-transform: uppercase;

  $_color: null;

  @if ($type = 'reset') {
    $_color: $tertiary;
  }

  border            : 1px solid $_color;
  border-radius     : 5px;
  background-color  : $_color;
  &:hover, &:active, &:focus {
    background-color: darken($_color, 5%);
    border          : 1px solid darken($_color, 5%);
    outline         : none;
    cursor          : pointer;
  }
  &:active {
    -moz-box-shadow   : inset 0 3px 5px rgba(0,0,0,.125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow        : inset 0 3px 5px rgba(0,0,0,.125);
  }
}

#reset-button {
  @include button-style(reset);
}

//=======================================================
// GALLERY
//=======================================================

.gallery {
  width                : 100%;
  display              : -ms-grid;
  display              : grid;

  // IE workaround to make responsive (works to narrowest possible
  // viewport width as IE isn't on any mobile devices do not need to
  // test smaller)
  -ms-grid-columns: (minmax(80px, 1fr))[4];
  @media (min-width: map-get($breakpoints, 'l')) {
    -ms-grid-columns   : (minmax(100px, 1fr))[6];
  }
  @media (min-width: map-get($breakpoints, 'l')) {
    -ms-grid-columns   : (minmax(100px, 1fr))[8];
  }

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap             : 15px;

  &--item {
    //box-sizing   : content-box;
    position     : relative;
    margin       : 0;
    width        : 100%;
    height       : 100px;
    border       : 1px solid transparent;
    border-radius: 3px;

    &:hover {
      cursor     : pointer;
      box-shadow : 0 0 0 3px $tertiary;
    }
  }

  &--img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;

    &-wrapper {
      box-sizing   : content-box;
      height       : 100%;
      width        : 100%;
      overflow     : hidden;
      border-radius: 2px;
    }
  }

  &--item-remove {
    display         : none;
    position        : absolute;
    width           : 25px;
    height          : 25px;
    top             : -12px;
    right           : -12px;
    z-index         : 1000;

    background-color: #FF6251;
    border          : 1px solid #FF6251;
    border-radius   : 100%;

    i {
      width         : 25px;
      height        : 25px;
      color         : $light;
      font-size     : 25px;
      text-align    : center;
      vertical-align: middle;
    }
  }
}
