@import "partials/variables",
        "partials/typography",
        "partials/flexbox",
        "partials/breakpoints",
        "partials/keyframes";

//=======================================================
// MAIN
//=======================================================

body {
  overflow: auto;  // Bug fix to prevent horizontal scrollbar in IE
  background-color: $primary;
}

#page {
  overflow-x: hidden;
}

.main {
  &--inner {
    @include set-content-width;
  }

  &--content {
    box-sizing      : border-box;
    margin          : 35px auto;
    padding         : 15px;
    height          : max-content;
    width           : 100%;
    background-color: lighten($primary, 5%);
    border          : 1px solid lighten($primary, 5%);
    border-radius   : 10px;
  }
}

//=======================================================
// OTHER PAGE ELEMENTS
//=======================================================

@import "partials/buttons",
        "partials/image_preview",
        "partials/image_gallery",
        "partials/email_input";

//=======================================================
// HEADER
//=======================================================

#header {
  box-sizing: border-box;
  height    : 100px;
  width     : 100%;

  border-top      : 1px solid transparent;
  border-bottom   : 1px solid transparent;
  background-color: $light;

  &-inner {
    width      : 100%;
    height     : 100%;
  }
  &-heading {
    display    : block;
    width      : max-content;
    height     : 100%;
    margin     : 0 auto;
    color      : $dark;
    line-height: 100px;
    text-align : center;
  }
}
