//=======================================================
// EMAIL ADDRESS
//=======================================================

.email {
  &--container {
    width        : 100%;
    margin       : 0 0 15px 0;

    @include flexbox;
    @include flex-flow(column nowrap);
    @media (min-width: map-get($breakpoints, 'm')) {
      @include flex-flow(row nowrap);
    }
  }
  &--input {
    box-sizing   : border-box;
    padding      : 0 90px 0 10px;
    height       : 40px;
    width        : calc(100% - 2px);
    border       : 1px solid transparent;
    border-radius: 5px;
    &:focus {
      outline    : 0;
    }
    color        : $dark;
  }
  &--input-wrapper {
    position     : relative;
    width        : 100%;
    max-width    : 400px;
  }
  &--button {
    @include button-style('email');
    position     : absolute;
    top          : 0;
    right        : 0;
    width        : 80px;
  }

  &--validation {
    height: 40px;
    @media (min-width: map-get($breakpoints, 'm')) {
      margin-left: 15px;
    }
  }
  &--validation-copy {
    display    : block;
    line-height: 40px;
    height     : 100%;
    color      : $error-red;
    font-weight: 600;
  }
}
