//=======================================================
// GALLERY
//=======================================================

.gallery {
  margin: 0 0 15px;
  width: 100%;

  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(flex-start);
  @include align-content(space-between);

  &--item {
    @include flex($f-grow: 0, $f-shrink: 1, $f-basis: 33.3%);
    max-width: 33.3%;

    @each $_viewportWidth, $_itemWidth in (
      500px: 25%,
      625px: 20%,
      map-get($breakpoints, 'm'): 16.6%,
      map-get($breakpoints, 'l'): 12.5%
    ) {
      @media (min-width: $_viewportWidth) {
        @include flex($f-grow: 0, $f-shrink: 1, $f-basis: $_itemWidth);
        max-width: $_itemWidth;
      }
    }

    position     : relative;
    box-sizing   : border-box;
    margin       : 0;
    height       : 100px;
    border       : 3px solid transparent;
    border-radius: 3px;
    &:hover {
      border     : 3px solid $tertiary;

      .gallery--item-remove {
        display  : block;
      }
    }
  }
  &--img {
    position : absolute;
    width    : 150%;
    height   : auto;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
      box-sizing   : content-box;
      height       : 100%;
      width        : 100%;
      overflow     : hidden;
      border-radius: 2px;

      position: relative;
    }
  }
  &--item-spacer {
    @include flex($f-grow: 1, $f-shrink: 1, $f-basis: auto);
    min-width: 12.5%;
    max-width: 100%;
    height   : 100px;
  }

  &--item-remove {
    display         : none;
    position        : absolute;
    width           : 25px;
    height          : 25px;
    top             : -12px;
    right           : -12px;
    z-index         : 1000;

    background-color: $error-red;
    border          : 1px solid $error-red;
    border-radius   : 100%;

    &:hover {
      background-color: darken($error-red, 10%);
      border-color    : darken($error-red, 10%);
      cursor          : pointer;
    }

    i {
      width         : 25px;
      height        : 25px;
      color         : $light;
      font-size     : 25px;
      text-align    : center;
      vertical-align: middle;
    }
  }
}
