body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.heading {
  color: $light;
  margin-top: 0;
}

a:hover {
  text-decoration: none;
}
